.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #edf1f0;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.left-side{
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}

.left-side div{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.right-side{
    border-radius: 6px;
    background-color: white;
    padding: 30px;
    width: 30%;
}

.todo-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
